---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/pages/now.css";
---

<BaseLayout>
  <article>
    <h2 class="now-title">지금</h2>
    <p class="now-description">
      (지금 내가 하고 있는 일/생각들을 가볍게 적는 공간)
    </p>

    <p>
      예시)
      <br />
      - Astro로 블로그 구조 잡는 중<br />
      - 페스티벌 관련 사이드 프로젝트 정리<br />
      - 읽고 있는 책 / 보고 있는 영상 등 …
    </p>
  </article>
</BaseLayout>
